﻿@model SocialNetwork.Services.DTOs.UserDTO

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IUserService UserService

<div id="page-contents">
    <div class="container">
        <div class="row">

            <!-- Newsfeed Common Side Bar Left
            ================================================= -->
            <div class="col-md-3 static">
                <div class="profile-card">
                    <img src="~/images/@Model.ProfilePhoto" alt="user" class="profile-photo" />
                    <h5><a asp-controller="Home" asp-action="Index" class="text-white">@Model.FirstName @Model.LastName</a></h5>
                </div><!--profile card ends-->
                <ul class="nav-news-feed">
                    <li><i class="icon ion-ios-paper"></i><div><a asp-controller="Newsfeed" asp-action="Index">My Newsfeed</a></div></li>
                    <li><i class="icon ion-ios-people-outline"></i><div><a asp-controller="Home" asp-action="Friends">Friends</a></div></li>
                    <li><i class="icon ion-chatboxes"></i><div><a asp-controller="Messages" asp-action="Index">Messages</a></div></li>
                    <li><i class="icon ion-images"></i><div><a asp-controller="Album" asp-action="Album" asp-route-id="@Model.Id">Images</a></div></li>
                </ul><!--news-feed links ends-->
                <div id="chat-block">
                    <div class="title">Chat online</div>
                    <ul class="online-users list-inline">
                        @foreach (var friends in Model.Friends)
                        {
                            <li><a title="@friends.FirstName @friends.LastName"><img src="~/images/@friends.ProfilePhoto" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                        }
                    </ul>
                </div>
                <!--chat block ends-->
            </div>

            <div class="col-md-7">

                <!-- Post Create Box
                ================================================= -->
                <form asp-controller="Posts" asp-action="CreatePost" asp-route-newsfeedId="1" asp-route-id="@Model.Id">
                    <div class="create-post">
                        <div class="row">
                            <div class="col-md-7 col-sm-7">
                                <div class="form-group">
                                    <img src="~/images/@Model.ProfilePhoto" alt="" class="profile-photo-md" />
                                    <textarea asp-for="NewCommentContent" name="NewCommentContent" id="exampleTextarea" cols="30" rows="1" class="form-control" placeholder="Write what you wish"></textarea>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="tools">
                                    <button class="btn btn-primary pull-right">Publish</button>
                                    <ul class="publishing-tools list-inline pull-left">
                                        <li><a asp-controller="Home" asp-action="CreatePhotoPost" asp-route-newsfeedId="1" asp-route-id="@Model.Id"><i class="ion-images pull-left"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form><!-- Post Create Box End-->
                <!-- Post Content
                ================================================= -->
                @if (Model.AdresseesUserFriends.Where(x => x.IsAccepted == true).Concat(Model.RequestersUserFriends.Where(x => x.IsAccepted == true)).ToList().Count == 0)
                {
                    @foreach (var post in Model.Posts.OrderByDescending(x => x.CreatedOn))
                    {
                        if (post.LoggedUser == 0)
                        {
                            <div class="post-content">
                                <!--Post Date-->
                                <div class="post-date hidden-xs hidden-sm">
                                </div><!--Post Date End-->
                                <div class="post-container">
                                    <img src="~/images/@post.User.ProfilePhoto" alt="user" class="profile-photo-md pull-left" />
                                    <div class="post-detail">
                                        <div class="user-info">
                                            @if (post.UserId == int.Parse(UserManager.GetUserId(User)))
                                            {
                                                <h5><a asp-controller="Home" asp-action="Timeline" class="profile-link">@Model.FirstName @Model.LastName</a> </h5>
                                            }
                                            else
                                            {
                                                <h5><a asp-controller="Home" asp-action="TimelineOfFriend" asp-route-id="@post.UserId" class="profile-link">@post.User.FirstName @post.User.LastName</a> </h5>

                                            }
                                            <p class="text-muted">Published on @post.CreatedOn</p>
                                        </div>
                                        <div class="reaction">
                                            <a asp-controller="Posts" asp-action="LikesUp" asp-route-newsfeedId="1" asp-route-postId="@post.Id" asp-route-userId="@Model.Id" class="btn text-green"><i class="icon ion-thumbsup"></i> @post.Likes</a>
                                            <a asp-controller="Posts" asp-action="FlagsUp" asp-route-newsfeedId="1" asp-route-postId="@post.Id" asp-route-userId="@Model.Id" class="btn text-red"><i class="icon ion-thumbsdown"></i> @post.Flags</a>
                                            <a asp-controller="Posts" asp-action="DeletePost" asp-route-newsfeedId="1" asp-route-postId="@post.Id" asp-route-userId="@Model.Id" class="btn text-dark"><i class="icon ion-android-delete"></i></a>
                                        </div>
                                        <div class="line-divider"></div>
                                        <div class="post-text">
                                            <p>@post.Content</p>
                                        </div>
                                        @if (@post.PostPhoto != "")
                                        {
                                            <img src="~/images/@post.PostPhoto" alt="post-image" class="img-responsive position-fixed" />
                                        }
                                        <div class="line-divider"></div>
                                        @foreach (var comment in post.Comments)
                                        {
                                            <div class="post-comment">
                                                <img src="~/images/@comment.User.ProfilePhoto" alt="" class="profile-photo-sm" />
                                                @if (comment.UserId == int.Parse(UserManager.GetUserId(User)))
                                                {
                                                    <h5><a asp-controller="Home" asp-action="Timeline" class="profile-link">@Model.FirstName @Model.LastName</a> </h5>
                                                }
                                                else
                                                {
                                                    <h5><a asp-controller="Home" asp-action="TimelineOfFriend" asp-route-id="@comment.UserId" class="profile-link">@comment.User.FirstName @comment.User.LastName</a> </h5>

                                                }
                                            </div>
                                            <div class="boxed">
                                                <p>@comment.Content</p>
                                            </div>
                                            <div class="position-sticky">
                                                <a asp-controller="Comments" asp-action="DeleteComment" asp-route-newsfeedId="1" asp-route-commentId="@comment.Id" asp-route-userId="@Model.Id" class="btn text-dark pull-right"><i class="icon ion-android-delete"></i></a>
                                                <a asp-controller="Comments" asp-action="FlagsUp" asp-route-newsfeedId="1" asp-route-commentId="@comment.Id" asp-route-userId="@Model.Id" class="btn text-red pull-right"><i class="icon ion-thumbsdown"></i> @comment.Flags</a>
                                                <a asp-controller="Comments" asp-action="LikesUp" asp-route-newsfeedId="1" asp-route-commentId="@comment.Id" asp-route-userId="@Model.Id" class="btn text-green pull-right"><i class="icon ion-thumbsup"></i> @comment.Likes</a>
                                            </div>
                                            <div class="line-divider"></div>
                                        }
                                        <form asp-controller="Home" asp-action="CreateComment" asp-route-userId="@int.Parse(UserManager.GetUserId(User))" asp-route-postId="@post.Id">
                                            <div class="post-comment">
                                                <img src="~/images/@Model.LoggedUserProfilePicture" alt="" class="profile-photo-sm" />
                                                <input asp-for="NewCommentContent" type="text" class="form-control" placeholder="Post a comment">
                                                <button class="btn btn-primary pull-right">Post</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            var creatorOfPostIfNotTheOwnerOfTimeline = await UserService.GetUserAsync(post.LoggedUser);

                            <div class="post-content">
                                <!--Post Date-->
                                <div class="post-date hidden-xs hidden-sm">
                                </div><!--Post Date End-->
                                <div class="post-container">
                                    <img src="~/images/@creatorOfPostIfNotTheOwnerOfTimeline.ProfilePhoto" alt="user" class="profile-photo-md pull-left" />
                                    <div class="post-detail">
                                        <div class="user-info">
                                            <h5><a asp-controller="Home" asp-action="TimelineOfFriend" asp-route-id="@creatorOfPostIfNotTheOwnerOfTimeline.Id" class="profile-link">@creatorOfPostIfNotTheOwnerOfTimeline.FirstName @creatorOfPostIfNotTheOwnerOfTimeline.LastName</a></h5>
                                            @if (post.UserId == int.Parse(UserManager.GetUserId(User)))
                                            {
                                                <p>posted on <a asp-controller="Home" asp-action="Timeline" class="profile-link">@post.User.FirstName</a>'s Timeline on @post.CreatedOn </p>
                                            }
                                            else
                                            {
                                                <p>posted on <a asp-controller="Home" asp-action="TimelineOfFriend" asp-route-id="@post.UserId" class="profile-link">@post.User.FirstName</a>'s Timeline on @post.CreatedOn </p>
                                            }
                                        </div>
                                        <div class="reaction">
                                            <a asp-controller="Posts" asp-action="LikesUp" asp-route-newsfeedId="2" asp-route-postId="@post.Id" asp-route-userId="@creatorOfPostIfNotTheOwnerOfTimeline.Id" class="btn text-green"><i class="icon ion-thumbsup"></i> @post.Likes</a>
                                            <a asp-controller="Posts" asp-action="FlagsUp" asp-route-newsfeedId="2" asp-route-postId="@post.Id" asp-route-userId="@creatorOfPostIfNotTheOwnerOfTimeline.Id" class="btn text-red"><i class="icon ion-thumbsdown"></i> @post.Flags</a>
                                            @if (post.UserId == int.Parse(UserManager.GetUserId(User)))
                                            {
                                                <a asp-controller="Posts" asp-action="DeletePost" asp-route-newsfeedId="1" asp-route-postId="@post.Id" asp-route-userId="@Model.Id" class="btn text-dark"><i class="icon ion-android-delete"></i></a>
                                            }
                                        </div>
                                        <div class="line-divider"></div>
                                        <div class="post-text">
                                            <p>@post.Content</p>
                                        </div>
                                        @if (@post.PostPhoto != "")
                                        {
                                            <img src="~/images/@post.PostPhoto" alt="post-image" class="img-responsive position-fixed" />
                                        }
                                        <div class="line-divider"></div>
                                        @foreach (var comment in post.Comments)
                                        {
                                            <div class="post-comment">
                                                <img src="~/images/@comment.User.ProfilePhoto" alt="" class="profile-photo-sm" />
                                                @if (comment.UserId == int.Parse(UserManager.GetUserId(User)))
                                                {
                                                    <h5><a asp-controller="Home" asp-action="Timeline" class="profile-link">@Model.FirstName @Model.LastName</a> </h5>
                                                }
                                                else
                                                {
                                                    <h5><a asp-controller="Home" asp-action="TimelineOfFriend" asp-route-id="@comment.UserId" class="profile-link">@comment.User.FirstName @comment.User.LastName</a> </h5>

                                                }
                                            </div>
                                            <div class="boxed">
                                                <p>@comment.Content</p>
                                            </div>
                                            <div class="position-sticky">
                                                @if (comment.UserId == int.Parse(UserManager.GetUserId(User)))
                                                {
                                                    <a asp-controller="Comments" asp-action="DeleteComment" asp-route-newsfeedId="1" asp-route-commentId="@comment.Id" asp-route-userId="@Model.Id" class="btn text-dark pull-right"><i class="icon ion-android-delete"></i></a>
                                                }
                                                <a asp-controller="Comments" asp-action="FlagsUp" asp-route-newsfeedId="2" asp-route-commentId="@comment.Id" asp-route-userId="@Model.Id" class="btn text-red pull-right"><i class="icon ion-thumbsdown"></i> @comment.Flags</a>
                                                <a asp-controller="Comments" asp-action="LikesUp" asp-route-newsfeedId="2" asp-route-commentId="@comment.Id" asp-route-userId="@Model.Id" class="btn text-green pull-right"><i class="icon ion-thumbsup"></i> @comment.Likes</a>
                                            </div>
                                            <div class="line-divider"></div>
                                        }
                                        <form asp-controller="Home" asp-action="CreateComment" asp-route-userId="@int.Parse(UserManager.GetUserId(User))" asp-route-postId="@post.Id">
                                            <div class="post-comment">
                                                <img src="~/images/@Model.LoggedUserProfilePicture" alt="" class="profile-photo-sm" />
                                                <input asp-for="NewCommentContent" type="text" class="form-control" placeholder="Post a comment">
                                                <button class="btn btn-primary pull-right">Post</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                }
                else
                {
                    @foreach (var adresee in Model.AdresseesUserFriends.Where(x => x.IsAccepted == true))
                    {
                        foreach (var post in adresee.Adressee.Posts)
                        {
                            Model.NewsFeed.Add(post);
                        }
                        foreach (var post in adresee.Requester.Posts)
                        {
                            Model.NewsFeed.Add(post);
                        }
                    }
                    foreach (var requester in Model.RequestersUserFriends.Where(x => x.IsAccepted == true))
                    {
                        foreach (var post in requester.Requester.Posts)
                        {
                            Model.NewsFeed.Add(post);
                        }
                        if (Model.AdresseesUserFriends.Where(x => x.IsAccepted == true).ToList().Count == 0)
                        {
                            foreach (var post in requester.Adressee.Posts)
                            {
                                Model.NewsFeed.Add(post);
                            }
                        }
                    }
                }

                @foreach (var post in Model.NewsFeed.OrderByDescending(x => x.CreatedOn))
                {
                    if (post.LoggedUser == 0)
                    {
                        <div class="post-content">
                            <!--Post Date-->
                            <div class="post-date hidden-xs hidden-sm">
                            </div><!--Post Date End-->
                            <div class="post-container">
                                <img src="~/images/@post.User.ProfilePhoto" alt="user" class="profile-photo-md pull-left" />
                                <div class="post-detail">
                                    <div class="user-info">
                                        @if (post.UserId == int.Parse(UserManager.GetUserId(User)))
                                        {
                                            <h5><a asp-controller="Home" asp-action="Timeline" class="profile-link">@Model.FirstName @Model.LastName</a> </h5>
                                        }
                                        else
                                        {
                                            <h5><a asp-controller="Home" asp-action="TimelineOfFriend" asp-route-id="@post.UserId" class="profile-link">@post.User.FirstName @post.User.LastName</a> </h5>

                                        }
                                        <p class="text-muted">Published on @post.CreatedOn</p>
                                    </div>
                                    <div class="reaction">
                                        <a asp-controller="Posts" asp-action="LikesUp" asp-route-newsfeedId="1" asp-route-postId="@post.Id" asp-route-userId="@Model.Id" class="btn text-green"><i class="icon ion-thumbsup"></i> @post.Likes</a>
                                        <a asp-controller="Posts" asp-action="FlagsUp" asp-route-newsfeedId="1" asp-route-postId="@post.Id" asp-route-userId="@Model.Id" class="btn text-red"><i class="icon ion-thumbsdown"></i> @post.Flags</a>
                                        @if (post.UserId == int.Parse(UserManager.GetUserId(User)))
                                        {
                                            <a asp-controller="Posts" asp-action="DeletePost" asp-route-newsfeedId="1" asp-route-postId="@post.Id" asp-route-userId="@Model.Id" class="btn text-dark"><i class="icon ion-android-delete"></i></a>
                                        }
                                    </div>
                                    <div class="line-divider"></div>
                                    <div class="post-text">
                                        <p>@post.Content</p>
                                    </div>
                                    @if (@post.PostPhoto != "")
                                    {
                                        <img src="~/images/@post.PostPhoto" alt="post-image" class="img-responsive position-fixed" />
                                    }
                                    <div class="line-divider"></div>
                                    @foreach (var comment in post.Comments)
                                    {
                                        <div class="post-comment">
                                            <img src="~/images/@comment.User.ProfilePhoto" alt="" class="profile-photo-sm" />
                                            @if (comment.UserId == int.Parse(UserManager.GetUserId(User)))
                                            {
                                                <h5><a asp-controller="Home" asp-action="Timeline" class="profile-link">@Model.FirstName @Model.LastName</a> </h5>
                                            }
                                            else
                                            {
                                                <h5><a asp-controller="Home" asp-action="TimelineOfFriend" asp-route-id="@comment.UserId" class="profile-link">@comment.User.FirstName @comment.User.LastName</a> </h5>

                                            }
                                        </div>
                                        <div class="boxed">
                                            <p>@comment.Content</p>
                                        </div>
                                        <div class="position-sticky">
                                            @if (comment.UserId == int.Parse(UserManager.GetUserId(User)))
                                            {
                                                <a asp-controller="Comments" asp-action="DeleteComment" asp-route-newsfeedId="1" asp-route-commentId="@comment.Id" asp-route-userId="@Model.Id" class="btn text-dark pull-right"><i class="icon ion-android-delete"></i></a>
                                            }
                                            <a asp-controller="Comments" asp-action="FlagsUp" asp-route-newsfeedId="1" asp-route-commentId="@comment.Id" asp-route-userId="@Model.Id" class="btn text-red pull-right"><i class="icon ion-thumbsdown"></i> @comment.Flags</a>
                                            <a asp-controller="Comments" asp-action="LikesUp" asp-route-newsfeedId="1" asp-route-commentId="@comment.Id" asp-route-userId="@Model.Id" class="btn text-green pull-right"><i class="icon ion-thumbsup"></i> @comment.Likes</a>
                                        </div>
                                        <div class="line-divider"></div>
                                    }
                                    <form asp-controller="Home" asp-action="CreateComment" asp-route-userId="@int.Parse(UserManager.GetUserId(User))" asp-route-postId="@post.Id">
                                        <div class="post-comment">
                                            <img src="~/images/@Model.LoggedUserProfilePicture" alt="" class="profile-photo-sm" />
                                            <input asp-for="NewCommentContent" type="text" class="form-control" placeholder="Post a comment">
                                            <button class="btn btn-primary pull-right">Post</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        var creatorOfPostIfNotTheOwnerOfTimeline = await UserService.GetUserAsync(post.LoggedUser);

                        <div class="post-content">
                            <!--Post Date-->
                            <div class="post-date hidden-xs hidden-sm">
                            </div><!--Post Date End-->
                            <div class="post-container">
                                <img src="~/images/@creatorOfPostIfNotTheOwnerOfTimeline.ProfilePhoto" alt="user" class="profile-photo-md pull-left" />
                                <div class="post-detail">
                                    <div class="user-info">
                                        <h5><a asp-controller="Home" asp-action="TimelineOfFriend" asp-route-id="@creatorOfPostIfNotTheOwnerOfTimeline.Id" class="profile-link">@creatorOfPostIfNotTheOwnerOfTimeline.FirstName @creatorOfPostIfNotTheOwnerOfTimeline.LastName</a></h5>
                                        <p>posted on <a asp-controller="Home" asp-action="TimelineOfFriend" asp-route-id="@post.UserId" class="profile-link">@post.User.FirstName</a>'s Timeline on @post.CreatedOn </p>
                                    </div>
                                    <div class="reaction">
                                        <a asp-controller="Posts" asp-action="LikesUp" asp-route-newsfeedId="2" asp-route-postId="@post.Id" asp-route-userId="@creatorOfPostIfNotTheOwnerOfTimeline.Id" class="btn text-green"><i class="icon ion-thumbsup"></i> @post.Likes</a>
                                        <a asp-controller="Posts" asp-action="FlagsUp" asp-route-newsfeedId="2" asp-route-postId="@post.Id" asp-route-userId="@creatorOfPostIfNotTheOwnerOfTimeline.Id" class="btn text-red"><i class="icon ion-thumbsdown"></i> @post.Flags</a>
                                    </div>
                                    <div class="line-divider"></div>
                                    <div class="post-text">
                                        <p>@post.Content</p>
                                    </div>
                                    @if (@post.PostPhoto != "")
                                    {
                                        <img src="~/images/@post.PostPhoto" alt="post-image" class="img-responsive position-fixed" />
                                    }
                                    <div class="line-divider"></div>
                                    @foreach (var comment in post.Comments)
                                    {
                                        <div class="post-comment">
                                            <img src="~/images/@comment.User.ProfilePhoto" alt="" class="profile-photo-sm" />
                                            <p><a asp-controller="Home" asp-action="TimelineOfFriend" asp-route-id="@comment.UserId" class="profile-link">@comment.User.FirstName @comment.User.LastName</a> @comment.CreatedOn </p>
                                        </div>
                                        <div class="boxed">
                                            <p>@comment.Content</p>
                                        </div>
                                        <div class="position-sticky">
                                            <a asp-controller="Comments" asp-action="FlagsUp" asp-route-newsfeedId="2" asp-route-commentId="@comment.Id" asp-route-userId="@Model.Id" class="btn text-red pull-right"><i class="icon ion-thumbsdown"></i> @comment.Flags</a>
                                            <a asp-controller="Comments" asp-action="LikesUp" asp-route-newsfeedId="2" asp-route-commentId="@comment.Id" asp-route-userId="@Model.Id" class="btn text-green pull-right"><i class="icon ion-thumbsup"></i> @comment.Likes</a>
                                        </div>
                                        <div class="line-divider"></div>
                                    }
                                    <form asp-controller="Home" asp-action="CreateComment" asp-route-userId="@int.Parse(UserManager.GetUserId(User))" asp-route-postId="@post.Id">
                                        <div class="post-comment">
                                            <img src="~/images/@Model.LoggedUserProfilePicture" alt="" class="profile-photo-sm" />
                                            <input asp-for="NewCommentContent" type="text" class="form-control" placeholder="Post a comment">
                                            <button class="btn btn-primary pull-right">Post</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }

                }
            </div>


            <!-- Newsfeed Common Side Bar Right
            ================================================= -->

            <div class="col-md-2 static pull-right">
                <div class="suggestions" id="sticky-sidebar">
                    <h4 class="grey">Add More Friends</h4>
                    @if (Model.Friends.Count == 0)
                    {
                        var users = await UserService.GetAllUsersAsync();
                        var userMe = users.Where(x => x.Id == int.Parse(UserManager.GetUserId(User))).FirstOrDefault();
                        var admin = users.Where(x => x.Id == 1).FirstOrDefault();
                        users.Remove(admin);
                        users.Remove(userMe);

                        foreach (var user in users.Take(5))
                        {
                            <img src="~/images/@user.ProfilePhoto" alt="" class="profile-photo-sm pull-left" />
                            <div>
                                <h5><a asp-controller="Home" asp-action="TimelineOfFriend" asp-route-id="@user.Id">@user.FirstName @user.LastName</a></h5>
                                <form asp-controller="Home" asp-action="SendFriendRequest" asp-route-newsfeed="1" , asp-route-adresseeId="@user.Id">
                                    <button class="btn btn-primary pull-right">Send Request</button>
                                </form>
                            </div>
                        }
                    }
                    else
                    {
                        var users = await UserService.GetAllUsersAsync();

                        var admin = users.Where(x => x.Id == 1).FirstOrDefault();
                        users.Remove(admin);

                        var userMe = users.Where(x => x.Id == int.Parse(UserManager.GetUserId(User))).FirstOrDefault();
                        users.Remove(userMe);

                        @foreach (var friend in Model.Friends)
                        {

                            if (users.Any(x => x.Id == friend.Id))
                            {

                                var user = users.Where(x => x.Id == friend.Id).FirstOrDefault();
                                users.Remove(user);

                            }

                        }
                        foreach (var user in users.Take(5))
                        {
                            <img src="~/images/@user.ProfilePhoto" alt="" class="profile-photo-sm pull-left" />
                            <div>
                                <h5><a asp-controller="Home" asp-action="TimelineOfFriend" asp-route-id="@user.Id">@user.FirstName @user.LastName</a></h5>
                                <form asp-controller="Home" asp-action="SendFriendRequest" asp-route-newsfeed="1" , asp-route-toAddId="@user.Id">
                                    <button class="btn btn-primary pull-right">Send Request</button>
                                </form>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>
