﻿@model ContactViewModel

<div class="google-maps">
    <div id="map" class="map contact-map"></div>
</div>
<div id="page-contents">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="contact-us">
                    <div class="row">
                        <div class="col-md-8 col-sm-18">
                            <h4 class="text-dark">Leave a Message</h4>
                            <form asp-action="Contact">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="FirstAndLastName" class="sr-only">Your Name</label>
                                    <input asp-for="FirstAndLastName" class="form-control input-group-lg" type="text" name="FirstAndLastName" title="Enter first name" placeholder="Your name" />
                                    <span asp-validation-for="FirstAndLastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="sr-only">First Name</label>
                                    <input asp-for="Email" class="form-control input-group-lg" type="text" name="Email" title="Enter first name" placeholder="Your email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MessageContent" class="sr-only">Please enter your message here!</label>
                                    <textarea input asp-for="MessageContent" id="form-message" name="MessageContent" class="form-control" placeholder="Leave a message for us *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                                </div>
                                <button class="btn-primary">Send a Message</button>
                            </form>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <h4 class="text-dark">Reach Us</h4>
                            <div class="reach"><span class="phone-icon"><i class="icon ion-email"></i></span><p>admin@friendsfinder.com</p></div>
                            <div class="reach"><span class="phone-icon"><i class="icon ion-ios-location"></i></span><p>55 T. Kableshkov, Sofia, Bulgaria</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Scripts
 ================================================= -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTMXfmDn0VlqWIyoOxK8997L-amWbUPiQ&callback=initMap"></script>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/script.js"></script>