﻿@model SocialNetwork.Areas.Identity.Pages.Account.LoginModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Landing Page Contents
    ================================================= -->
<div id="lp-register">
    <div class="container wrapper">
        <div class="row">
            <div class="col-sm-5">
                <div class="intro-texts">
                    <h1 class="text-white">Make Cool Friends !!!</h1>
                    <p>Friend Finder is a social network whose main purpose is to connect the coolest people from all over the world. <br /> <br />What you are waiting for? Join us NOW!</p>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <div class="reg-form-container">
                    <!--Login-->
                    <div class="tab-pane" id="login">
                        <h3>Login</h3>
                        <p class="text-muted">Log into your account</p>

                        <!--Login Form-->
                        <form asp-action="Login">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label asp-for="Input.Email" class="sr-only">Email</label>
                                    <input asp-for="Input.Email" class="form-control input-group-lg" type="text" name="Input.Email" title="Enter Email" placeholder="Your Email" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label asp-for="Input.Password" class="sr-only">Password</label>
                                    <input asp-for="Input.Password" class="form-control input-group-lg" type="password" name="Input.Password" title="Enter password" placeholder="Password" />
                                </div>
                            </div>
                            <p><a asp-controller="Home" asp-action="Index">Register Now</a></p>
                            <p><a href="~/template/~/template/#">Forgot Password?</a></p>
                            <button class="btn btn-primary">Login Now</button>
                        </form><!--Login Form Ends-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts
    ================================================= -->
    <script src="~/template/js/jquery-3.1.1.min.js"></script>
    <script src="~/template/js/bootstrap.min.js"></script>
    <script src="~/template/js/jquery.appear.min.js"></script>
    <script src="~/template/js/jquery.incremental-counter.js"></script>
    <script src="~/template/js/script.js"></script>
