﻿@model SocialNetwork.Services.DTOs.UserDTO

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IUserService UserService
<!-- Timeline
        ================================================= -->
@if (Model.Visibility == SocialNetwork.Models.Enums.Visibility.OnlyForFriends)
{
    @if (Model.Friends.Count == 0)
    {
        @if (!Model.Friends.Any(x => x.AdresseesUserFriends.Any(p => p.AdresseeId == Model.Id) && x.RequestersUserFriends.Any(y => y.RequesterId == int.Parse(UserManager.GetUserId(User)))))
        {
            <div class="container">
                <!-- Timeline
                     ================================================= -->
                <div class="timeline-cover">
                    <img src="~/images/@Model.CoverPhoto" class="img-responsive timeline-cover" />
                    <!--Timeline Menu for Large Screens-->
                    <div class="timeline-nav-bar hidden-sm hidden-xs">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="profile-info">
                                    <img src="~/images/@Model.ProfilePhoto" alt="" class="img-responsive profile-photo" />
                                    <h3>@Model.FirstName @Model.LastName</h3>
                                    <p class="text-info pull-left">
                                        <div class="line-divider"></div>
                                        @if (Model.JobTitle != null)
                                        {
                                            <div class="row pull-left">
                                                <a>
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-briefcase-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z" />
                                                        <path fill-rule="evenodd" d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5v1.384l-7.614 2.03a1.5 1.5 0 0 1-.772 0L0 5.884V4.5zm5-2A1.5 1.5 0 0 1 6.5 1h3A1.5 1.5 0 0 1 11 2.5V3h-1v-.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V3H5v-.5z" />
                                                    </svg> Works as @Model.JobTitle
                                                </a>
                                                <div class="line-divider"></div>
                                            </div>
                                        }
                                        @if (Model.City != null)
                                        {
                                            <div class="row pull-left">
                                                <a>
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                                    </svg> Lives in @Model.City, @Model.Country.Name
                                                </a>
                                                <div class="line-divider"></div>
                                            </div>
                                        }
                                        @if (Model.Education != null)
                                        {
                                            <div class="row pull-left">
                                                <a>
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z" />
                                                        <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
                                                    </svg> Studied at @Model.Education
                                                </a>
                                                <div class="line-divider"></div>
                                            </div>
                                        }
                                        @if (Model.DateOfBirth != null && Model.MonthOfBirth != null && Model.YearOfBirth != null)
                                        {
                                            <div class="row pull-left">
                                                <a>
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-5.146-5.146a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                                    </svg> Born on @Model.DateOfBirth/@Model.MonthOfBirth/@Model.YearOfBirth
                                                </a>
                                                <div class="line-divider"></div>
                                            </div>
                                        }
                                        @if (Model.Biography != null)
                                        {
                                            <div class="row pull-left">
                                                <a>
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-layers-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4z" />
                                                        <path fill-rule="evenodd" d="M2.125 8.567l-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0l-5.17-2.756z" />
                                                    </svg> Biography: @Model.Biography
                                                </a>
                                                <div class="line-divider"></div>
                                            </div>
                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <ul class="list-inline profile-menu">
                                    <li><a asp-controller="About" asp-action="About" asp-route-id="@Model.Id">About</a></li>
                                    @if (Model.AdresseesUserFriends.Any(x => x.RequesterId == Model.Id && x.AdresseeId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == false && x.IsRemoved == false))
                                    {
                                        var request = Model.AdresseesUserFriends.Where(x => x.RequesterId == Model.Id && x.AdresseeId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == false && x.IsRemoved == false).FirstOrDefault();
                                        <li>
                                            <form asp-controller="UserFriends" asp-action="Accept" asp-route-timelineOfFriendId="@Model.Id" asp-route-toAddId="@request.Id">
                                                <button class="btn btn-success pull-right pull-right">Accept</button>
                                            </form>
                                        </li>
                                    }
                                    else if (Model.RequestersUserFriends.Any(x => x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.AdresseeId == Model.Id && x.IsAccepted == false && x.IsRemoved == false))
                                    {
                                        var request = Model.RequestersUserFriends.Where(x => x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.AdresseeId == Model.Id && x.IsAccepted == false && x.IsRemoved == false).FirstOrDefault();
                                        <li>
                                            <form asp-controller="UserFriends" asp-action="Unfriend" asp-route-timelineOfFriendId="@Model.Id" asp-route-Id="@request.Id">
                                                <button class="btn btn-outline-dark pull-right pull-right">Unsend</button>
                                            </form>
                                        </li>
                                    }
                                    else if (Model.AdresseesUserFriends.Any(x => x.RequesterId == Model.Id && x.AdresseeId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == true && x.IsRemoved == false))
                                    {
                                        var request = Model.AdresseesUserFriends.Where(x => x.RequesterId == Model.Id && x.AdresseeId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == true && x.IsRemoved == false).FirstOrDefault();
                                        <li>
                                            <form asp-controller="UserFriends" asp-action="Unfriend" asp-route-timelineOfFriendId="@Model.Id" asp-route-Id="@request.Id">
                                                <button class="m-custom-r-b-2 btn btn-outline-dark pull-right">Unfriend</button>
                                            </form>
                                        </li>
                                    }
                                    else if (Model.RequestersUserFriends.Any(x => x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.AdresseeId == Model.Id && x.IsAccepted == true && x.IsRemoved == false))
                                    {
                                        var request = Model.RequestersUserFriends.Where(x => x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.AdresseeId == Model.Id && x.IsAccepted == true && x.IsRemoved == false).FirstOrDefault();
                                        <li>
                                            <form asp-controller="UserFriends" asp-action="Unfriend" asp-route-timelineOfFriendId="@Model.Id" asp-route-Id="@request.Id">
                                                <button class="btn btn-outline-dark pull-right">Unfriend</button>
                                            </form>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <form asp-controller="Home" asp-action="SendFriendRequest" asp-route-adresseeId="@Model.Id">
                                                <button class="btn btn-primary pull-right">Send Request</button>
                                            </form>
                                        </li>
                                    }
                                </ul>
                            </div>

                        </div>
                    </div><!--Timeline Menu for Large Screens End-->

                </div>
                <div id="page-contents">
                    <div class="row">
                        <div class="col-md-2 static pull-right">
                            <div id="sticky-sidebar">
                                <h4 class="grey">@Model.FirstName's activity:</h4>
                                @foreach (var item in Model.HistoryLog.OrderByDescending(x => x.Id))
                                {
                                    <div class="feed-item">
                                        <div class="live-activity">
                                            <p><a class="profile-link"></a>@item.Content</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        @if (Model.Friends.Any(x => x.AdresseesUserFriends.Any(x => x.AdresseeId == Model.Id && x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == false && x.IsRemoved == false)))
        {
            <div class="container">
                <!-- Timeline
                     ================================================= -->
                <div class="timeline-cover">
                    <img src="~/images/@Model.CoverPhoto" class="img-responsive timeline-cover" />
                    <!--Timeline Menu for Large Screens-->
                    <div class="timeline-nav-bar hidden-sm hidden-xs">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="profile-info">
                                    <img src="~/images/@Model.ProfilePhoto" alt="" class="img-responsive profile-photo" />
                                    <h3>@Model.FirstName @Model.LastName</h3>
                                    <p class="text-info pull-left">
                                        <div class="line-divider"></div>
                                        @if (Model.JobTitle != null)
                                        {
                                            <div class="row pull-left">
                                                <a>
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-briefcase-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z" />
                                                        <path fill-rule="evenodd" d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5v1.384l-7.614 2.03a1.5 1.5 0 0 1-.772 0L0 5.884V4.5zm5-2A1.5 1.5 0 0 1 6.5 1h3A1.5 1.5 0 0 1 11 2.5V3h-1v-.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V3H5v-.5z" />
                                                    </svg> Works as @Model.JobTitle
                                                </a>
                                                <div class="line-divider"></div>
                                            </div>
                                        }
                                        @if (Model.City != null)
                                        {
                                            <div class="row pull-left">
                                                <a>
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                                    </svg> Lives in @Model.City, @Model.Country.Name
                                                </a>
                                                <div class="line-divider"></div>
                                            </div>
                                        }
                                        @if (Model.Education != null)
                                        {
                                            <div class="row pull-left">
                                                <a>
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z" />
                                                        <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
                                                    </svg> Studied at @Model.Education
                                                </a>
                                                <div class="line-divider"></div>
                                            </div>
                                        }
                                        @if (Model.DateOfBirth != null && Model.MonthOfBirth != null && Model.YearOfBirth != null)
                                        {
                                            <div class="row pull-left">
                                                <a>
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-5.146-5.146a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                                    </svg> Born on @Model.DateOfBirth/@Model.MonthOfBirth/@Model.YearOfBirth
                                                </a>
                                                <div class="line-divider"></div>
                                            </div>
                                        }
                                        @if (Model.Biography != null)
                                        {
                                            <div class="row pull-left">
                                                <a>
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-layers-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4z" />
                                                        <path fill-rule="evenodd" d="M2.125 8.567l-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0l-5.17-2.756z" />
                                                    </svg> Biography: @Model.Biography
                                                </a>
                                                <div class="line-divider"></div>
                                            </div>
                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <ul class="list-inline profile-menu">
                                    <li><a asp-controller="About" asp-action="About" asp-route-id="@Model.Id">About</a></li>
                                    @if (Model.AdresseesUserFriends.Any(x => x.RequesterId == Model.Id && x.AdresseeId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == false && x.IsRemoved == false))
                                    {
                                        var request = Model.AdresseesUserFriends.Where(x => x.RequesterId == Model.Id && x.AdresseeId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == false && x.IsRemoved == false).FirstOrDefault();
                                        <li>
                                            <form asp-controller="UserFriends" asp-action="Accept" asp-route-timelineOfFriendId="@Model.Id" asp-route-toAddId="@request.Id">
                                                <button class="btn btn-success pull-right pull-right">Accept</button>
                                            </form>
                                        </li>
                                    }
                                    else if (Model.RequestersUserFriends.Any(x => x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.AdresseeId == Model.Id && x.IsAccepted == false && x.IsRemoved == false))
                                    {
                                        var request = Model.RequestersUserFriends.Where(x => x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.AdresseeId == Model.Id && x.IsAccepted == false && x.IsRemoved == false).FirstOrDefault();
                                        <li>
                                            <form asp-controller="UserFriends" asp-action="Unfriend" asp-route-timelineOfFriendId="@Model.Id" asp-route-Id="@request.Id">
                                                <button class="btn btn-outline-dark pull-right pull-right">Unsend</button>
                                            </form>
                                        </li>
                                    }
                                    else if (Model.AdresseesUserFriends.Any(x => x.RequesterId == Model.Id && x.AdresseeId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == true && x.IsRemoved == false))
                                    {
                                        var request = Model.AdresseesUserFriends.Where(x => x.RequesterId == Model.Id && x.AdresseeId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == true && x.IsRemoved == false).FirstOrDefault();
                                        <li>
                                            <form asp-controller="UserFriends" asp-action="Unfriend" asp-route-timelineOfFriendId="@Model.Id" asp-route-Id="@request.Id">
                                                <button class="m-custom-r-b-2 btn btn-outline-dark pull-right">Unfriend</button>
                                            </form>
                                        </li>
                                    }
                                    else if (Model.RequestersUserFriends.Any(x => x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.AdresseeId == Model.Id && x.IsAccepted == true && x.IsRemoved == false))
                                    {
                                        var request = Model.RequestersUserFriends.Where(x => x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.AdresseeId == Model.Id && x.IsAccepted == true && x.IsRemoved == false).FirstOrDefault();
                                        <li>
                                            <form asp-controller="UserFriends" asp-action="Unfriend" asp-route-timelineOfFriendId="@Model.Id" asp-route-Id="@request.Id">
                                                <button class="btn btn-outline-dark pull-right">Unfriend</button>
                                            </form>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <form asp-controller="Home" asp-action="SendFriendRequest" asp-route-adresseeId="@Model.Id">
                                                <button class="btn btn-primary pull-right">Send Request</button>
                                            </form>
                                        </li>
                                    }
                                </ul>
                            </div>

                        </div>
                    </div><!--Timeline Menu for Large Screens End-->

                </div>
                <div id="page-contents">
                    <div class="row">
                        <div class="col-md-2 static pull-right">
                            <div id="sticky-sidebar">
                                <h4 class="grey">@Model.FirstName's activity:</h4>
                                @foreach (var item in Model.HistoryLog.OrderByDescending(x => x.Id))
                                {
                                    <div class="feed-item">
                                        <div class="live-activity">
                                            <p><a class="profile-link"></a>@item.Content</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (Model.Friends.Any(x => x.AdresseesUserFriends.Any(x => x.AdresseeId == Model.Id && x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == true && x.IsRemoved == false)))
        {
            var user = UserManager.GetUserId(User);
            var currentUser = await UserService.GetUserAsync(int.Parse(user));
            <div class="container">
                <div class="timeline-cover">
                    <img src="~/images/@Model.CoverPhoto" class="img-responsive timeline-cover" />
                    <!--Timeline Menu for Large Screens-->
                    <div class="timeline-nav-bar hidden-sm hidden-xs">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="profile-info">
                                    <img src="~/images/@Model.ProfilePhoto" alt="" class="img-responsive profile-photo" />
                                    <h3>@Model.FirstName @Model.LastName</h3>
                                    <p class="text-info pull-left">
                                        <div class="line-divider"></div>
                                        @if (Model.JobTitle != null)
                                        {
                                            <div class="row pull-left">
                                                <a>
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-briefcase-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z" />
                                                        <path fill-rule="evenodd" d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5v1.384l-7.614 2.03a1.5 1.5 0 0 1-.772 0L0 5.884V4.5zm5-2A1.5 1.5 0 0 1 6.5 1h3A1.5 1.5 0 0 1 11 2.5V3h-1v-.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V3H5v-.5z" />
                                                    </svg> Works as @Model.JobTitle
                                                </a>
                                                <div class="line-divider"></div>
                                            </div>
                                        }
                                        @if (Model.City != null)
                                        {
                                            <div class="row pull-left">
                                                <a>
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                                    </svg> Lives in @Model.City, @Model.Country.Name
                                                </a>
                                                <div class="line-divider"></div>
                                            </div>
                                        }
                                        @if (Model.Education != null)
                                        {
                                            <div class="row pull-left">
                                                <a>
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z" />
                                                        <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
                                                    </svg> Studied at @Model.Education
                                                </a>
                                                <div class="line-divider"></div>
                                            </div>
                                        }
                                        @if (Model.DateOfBirth != null && Model.MonthOfBirth != null && Model.YearOfBirth != null)
                                        {
                                            <div class="row pull-left">
                                                <a>
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-5.146-5.146a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                                    </svg> Born on @Model.DateOfBirth/@Model.MonthOfBirth/@Model.YearOfBirth
                                                </a>
                                                <div class="line-divider"></div>
                                            </div>
                                        }
                                        @if (Model.Biography != null)
                                        {
                                            <div class="row pull-left">
                                                <a>
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-layers-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4z" />
                                                        <path fill-rule="evenodd" d="M2.125 8.567l-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0l-5.17-2.756z" />
                                                    </svg> Biography: @Model.Biography
                                                </a>
                                                <div class="line-divider"></div>
                                            </div>
                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <ul class="list-inline profile-menu">
                                    <li><a asp-controller="Home" asp-action="TimelineOfFriend" asp-route-id="@Model.Id" class="active">Timeline</a></li>
                                    <li><a asp-controller="About" asp-action="About" asp-route-id="@Model.Id">About</a></li>
                                    <li><a asp-controller="Album" asp-action="Album" asp-route-id="@Model.Id">Album</a></li>
                                    <li><a asp-controller="Home" asp-action="Friends" asp-route-id="@Model.Id">Friends</a></li>
                                    @if (Model.AdresseesUserFriends.Any(x => x.RequesterId == Model.Id && x.AdresseeId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == false && x.IsRemoved == false))
                                    {
                                        var request = Model.AdresseesUserFriends.Where(x => x.RequesterId == Model.Id && x.AdresseeId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == false && x.IsRemoved == false).FirstOrDefault();
                                        <li>
                                            <form asp-controller="UserFriends" asp-action="Accept" asp-route-timelineOfFriendId="@Model.Id" asp-route-toAddId="@request.Id">
                                                <button class="btn btn-success pull-right pull-right">Accept</button>
                                            </form>
                                        </li>
                                    }
                                    else if (Model.RequestersUserFriends.Any(x => x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.AdresseeId == Model.Id && x.IsAccepted == false && x.IsRemoved == false))
                                    {
                                        var request = Model.RequestersUserFriends.Where(x => x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.AdresseeId == Model.Id && x.IsAccepted == false && x.IsRemoved == false).FirstOrDefault();
                                        <li>
                                            <form asp-controller="UserFriends" asp-action="Unfriend" asp-route-timelineOfFriendId="@Model.Id" asp-route-Id="@request.Id">
                                                <button class="btn btn-outline-dark pull-right pull-right">Unsend</button>
                                            </form>
                                        </li>
                                    }
                                    else if (Model.AdresseesUserFriends.Any(x => x.RequesterId == Model.Id && x.AdresseeId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == true && x.IsRemoved == false))
                                    {
                                        var request = Model.AdresseesUserFriends.Where(x => x.RequesterId == Model.Id && x.AdresseeId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == true && x.IsRemoved == false).FirstOrDefault();
                                        <li>
                                            <form asp-controller="UserFriends" asp-action="Unfriend" asp-route-timelineOfFriendId="@Model.Id" asp-route-Id="@request.Id">
                                                <button class="m-custom-r-b-2 btn btn-outline-dark pull-right">Unfriend</button>
                                            </form>
                                        </li>
                                    }
                                    else if (Model.RequestersUserFriends.Any(x => x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.AdresseeId == Model.Id && x.IsAccepted == true && x.IsRemoved == false))
                                    {
                                        var request = Model.RequestersUserFriends.Where(x => x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.AdresseeId == Model.Id && x.IsAccepted == true && x.IsRemoved == false).FirstOrDefault();
                                        <li>
                                            <form asp-controller="UserFriends" asp-action="Unfriend" asp-route-timelineOfFriendId="@Model.Id" asp-route-Id="@request.Id">
                                                <button class="btn btn-outline-dark pull-right">Unfriend</button>
                                            </form>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <form asp-controller="Home" asp-action="SendFriendRequest" asp-route-adresseeId="@Model.Id">
                                                <button class="btn btn-primary pull-right">Send Request</button>
                                            </form>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div><!--Timeline Menu for Large Screens End-->
                    <!--Timeline Menu for Small Screens-->
                    <div class="navbar-mobile hidden-lg hidden-md">
                        <div class="profile-info">
                            <img src="~/images/@Model.ProfilePhoto" alt="" class="img-responsive profile-photo" />
                            <h4>@Model.FirstName @Model.LastName</h4>
                            <p class="text-muted">@Model.JobTitle</p>
                        </div>
                        <div class="mobile-menu">
                            <ul class="list-inline">
                                <li><a asp-controller="Home" asp-action="Timeline" class="active">Timeline</a></li>
                                <li><a asp-controller="About" asp-action="About">About</a></li>
                                <li><a asp-controller="Album" asp-action="Album">Album</a></li>
                                <li><a asp-controller="Home" asp-action="Friends">Friends</a></li>
                                <li><a asp-controller="UserFriends" asp-action="FriendRequests">Friend Requests</a></li>
                            </ul>
                            <ul>
                                <form asp-controller="Home" asp-action="SendFriendRequest" asp-route-adresseeId="@Model.Id">
                                    <button class="btn btn-primary pull-right">Send Request</button>
                                </form>
                            </ul>
                        </div>
                    </div><!--Timeline Menu for Small Screens End-->

                </div>
                <div id="page-contents">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-7">

                            <!-- Post Create Box
                            ================================================= -->

                            <form asp-controller="Posts" asp-action="CreatePost" asp-route-loggedUser="@currentUser.Id" asp-route-id="@Model.Id" asp-route-newsfeedId="2">
                                <div class="create-post">
                                    <div class="row">
                                        <div class="col-md-7 col-sm-7">
                                            <div class="form-group">
                                                <img src="~/images/@currentUser.ProfilePhoto" alt="" class="profile-photo-md" />
                                                <textarea asp-for="NewCommentContent" name="NewCommentContent" id="exampleTextarea" cols="30" rows="1" class="form-control" placeholder="Write what you wish"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <div class="tools">
                                                <button class="btn btn-primary pull-right">Publish</button>
                                                <ul class="publishing-tools list-inline pull-left">
                                                    <li><a asp-controller="Home" asp-action="CreatePhotoPost" asp-route-loggedUser="@currentUser.Id" asp-route-id="@Model.Id" asp-route-newsfeedId="2"><i class="ion-images pull-left"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- Post Content
                            ================================================= -->
                            @foreach (var post in Model.Posts.OrderByDescending(x => x.CreatedOn))
                            {
                                if (post.LoggedUser == 0)
                                {
                                    <div class="post-content">
                                        <!--Post Date-->
                                        <div class="post-date hidden-xs hidden-sm">
                                        </div><!--Post Date End-->
                                        <div class="post-container">
                                            <img src="~/images/@post.User.ProfilePhoto" alt="user" class="profile-photo-md pull-left" />
                                            <div class="post-detail">
                                                <div class="user-info">
                                                    @if (post.UserId == int.Parse(UserManager.GetUserId(User)))
                                                    {
                                                        <h5><a asp-controller="Home" asp-action="Timeline" class="profile-link">@Model.FirstName @Model.LastName</a> </h5>
                                                    }
                                                    else
                                                    {
                                                        <h5><a asp-controller="Home" asp-action="TimelineOfFriend" asp-route-id="@post.UserId" class="profile-link">@post.User.FirstName @post.User.LastName</a> </h5>

                                                    }
                                                    <p class="text-muted">Published on @post.CreatedOn</p>
                                                </div>
                                                <div class="reaction">
                                                    <a asp-controller="Posts" asp-action="LikesUp" asp-route-newsfeedId="2" asp-route-postId="@post.Id" asp-route-userId="@post.UserId" class="btn text-green"><i class="icon ion-thumbsup"></i> @post.Likes</a>
                                                    <a asp-controller="Posts" asp-action="FlagsUp" asp-route-newsfeedId="2" asp-route-postId="@post.Id" asp-route-userId="@post.UserId" class="btn text-red"><i class="icon ion-thumbsdown"></i> @post.Flags</a>
                                                    @if (post.LoggedUser == int.Parse(UserManager.GetUserId(User)))
                                                    {
                                                        <a asp-controller="Posts" asp-action="DeletePost" asp-route-newsfeedId="2" asp-route-postId="@post.Id" asp-route-userId="@post.UserId" class="btn text-dark"><i class="icon ion-android-delete"></i></a>
                                                    }
                                                </div>
                                                <div class="line-divider"></div>
                                                <div class="post-text">
                                                    <p>@post.Content</p>
                                                </div>
                                                @if (@post.PostPhoto != "")
                                                {
                                                    <img src="~/images/@post.PostPhoto" alt="post-image" class="img-responsive position-fixed" />
                                                }
                                                <div class="line-divider"></div>
                                                @foreach (var comment in post.Comments)
                                                {
                                                    <div class="post-comment">
                                                        <img src="~/images/@comment.User.ProfilePhoto" alt="" class="profile-photo-sm" />
                                                        @if (comment.UserId == int.Parse(UserManager.GetUserId(User)))
                                                        {
                                                            <h5><a asp-controller="Home" asp-action="Timeline" class="profile-link">@Model.FirstName @Model.LastName</a> </h5>
                                                        }
                                                        else
                                                        {
                                                            <h5><a asp-controller="Home" asp-action="TimelineOfFriend" asp-route-id="@comment.UserId" class="profile-link">@comment.User.FirstName @comment.User.LastName</a> </h5>

                                                        }
                                                    </div>
                                                    <div class="boxed">
                                                        <p>@comment.Content</p>
                                                    </div>
                                                    <div class="position-sticky">
                                                        @if (comment.UserId != int.Parse(UserManager.GetUserId(User)))
                                                        {
                                                            <a asp-controller="Comments" asp-action="DeleteComment" asp-route-newsfeedId="2" asp-route-commentId="@post.UserId" asp-route-userId="@post.UserId" class="btn text-dark pull-right"><i class="icon ion-android-delete"></i></a>
                                                        }
                                                        <a asp-controller="Comments" asp-action="FlagsUp" asp-route-newsfeedId="2" asp-route-commentId="@comment.Id" asp-route-userId="@post.UserId" class="btn text-red pull-right"><i class="icon ion-thumbsdown"></i> @comment.Flags</a>
                                                        <a asp-controller="Comments" asp-action="LikesUp" asp-route-newsfeedId="2" asp-route-commentId="@comment.Id" asp-route-userId="@post.UserId" class="btn text-green pull-right"><i class="icon ion-thumbsup"></i> @comment.Likes</a>
                                                    </div>
                                                    <div class="line-divider"></div>
                                                }
                                                <form asp-controller="Home" asp-action="CreateComment" asp-route-timelineId="@Model.Id" asp-route-userId="@int.Parse(UserManager.GetUserId(User))" asp-route-postId="@post.Id">
                                                    <div class="post-comment">
                                                        <img src="~/images/@Model.LoggedUserProfilePicture" alt="" class="profile-photo-sm" />
                                                        <input asp-for="NewCommentContent" type="text" class="form-control" placeholder="Post a comment">
                                                        <button class="btn btn-primary pull-right">Post</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    var creatorOfPostIfNotTheOwnerOfTimeline = await UserService.GetUserAsync(post.LoggedUser);

                                    <div class="post-content">
                                        <!--Post Date-->
                                        <div class="post-date hidden-xs hidden-sm">
                                        </div><!--Post Date End-->
                                        <div class="post-container">
                                            <img src="~/images/@creatorOfPostIfNotTheOwnerOfTimeline.ProfilePhoto" alt="user" class="profile-photo-md pull-left" />
                                            <div class="post-detail">
                                                <div class="user-info">
                                                    @if (post.UserId == int.Parse(UserManager.GetUserId(User)))
                                                    {
                                                        <h5><a asp-controller="Home" asp-action="Timeline" class="profile-link">@Model.FirstName @Model.LastName</a> </h5>
                                                        <p class="text-muted">Published on @Model.FirstName's timeline on @post.CreatedOn</p>

                                                    }
                                                    else
                                                    {
                                                        <h5><a asp-controller="Home" asp-action="TimelineOfFriend" asp-route-id="@creatorOfPostIfNotTheOwnerOfTimeline.Id" class="profile-link">@creatorOfPostIfNotTheOwnerOfTimeline.FirstName @creatorOfPostIfNotTheOwnerOfTimeline.LastName</a> </h5>
                                                        <p class="text-muted">Published on @Model.FirstName's timeline on @post.CreatedOn</p>

                                                    }
                                                </div>
                                                <div class="reaction">
                                                    <a asp-controller="Posts" asp-action="LikesUp" asp-route-newsfeedId="2" asp-route-postId="@post.Id" asp-route-userId="@post.UserId" class="btn text-green"><i class="icon ion-thumbsup"></i> @post.Likes</a>
                                                    <a asp-controller="Posts" asp-action="FlagsUp" asp-route-newsfeedId="2" asp-route-postId="@post.Id" asp-route-userId="@post.UserId" class="btn text-red"><i class="icon ion-thumbsdown"></i> @post.Flags</a>
                                                    @if (post.LoggedUser == int.Parse(UserManager.GetUserId(User)))
                                                    {
                                                        <a asp-controller="Posts" asp-action="DeletePost" asp-route-newsfeedId="2" asp-route-postId="@post.Id" asp-route-userId="@post.UserId" class="btn text-dark"><i class="icon ion-android-delete"></i></a>
                                                    }
                                                </div>
                                                <div class="line-divider"></div>
                                                <div class="post-text">
                                                    <p>@post.Content</p>
                                                </div>
                                                @if (@post.PostPhoto != "")
                                                {
                                                    <img src="~/images/@post.PostPhoto" alt="post-image" class="img-responsive position-fixed" />
                                                }
                                                <div class="line-divider"></div>
                                                @foreach (var comment in post.Comments)
                                                {
                                                    <div class="post-comment">
                                                        <img src="~/images/@comment.User.ProfilePhoto" alt="" class="profile-photo-sm" />
                                                        @if (comment.UserId != int.Parse(UserManager.GetUserId(User)))
                                                        {
                                                            <h5><a asp-controller="Home" asp-action="Timeline" class="profile-link">@Model.FirstName @Model.LastName</a> </h5>
                                                        }
                                                        else
                                                        {
                                                            <h5><a asp-controller="Home" asp-action="TimelineOfFriend" asp-route-id="@comment.UserId" class="profile-link">@comment.User.FirstName @comment.User.LastName</a> </h5>

                                                        }
                                                    </div>
                                                    <div class="boxed">
                                                        <p>@comment.Content</p>
                                                    </div>
                                                    <div class="position-sticky">
                                                        @if (comment.UserId == int.Parse(UserManager.GetUserId(User)))
                                                        {
                                                            <a asp-controller="Comments" asp-action="DeleteComment" asp-route-newsfeedId="2" asp-route-commentId="@comment.Id" asp-route-userId="@post.UserId" class="btn text-dark pull-right"><i class="icon ion-android-delete"></i></a>
                                                        }
                                                        <a asp-controller="Comments" asp-action="FlagsUp" asp-route-newsfeedId="2" asp-route-commentId="@comment.Id" asp-route-userId="@post.UserId" class="btn text-red pull-right"><i class="icon ion-thumbsdown"></i> @comment.Flags</a>
                                                        <a asp-controller="Comments" asp-action="LikesUp" asp-route-newsfeedId="2" asp-route-commentId="@comment.Id" asp-route-userId="@post.UserId" class="btn text-green pull-right"><i class="icon ion-thumbsup"></i> @comment.Likes</a>
                                                    </div>
                                                    <div class="line-divider"></div>
                                                }
                                                <form asp-controller="Home" asp-action="CreateComment" asp-route-timelineId="@Model.Id" asp-route-userId="@int.Parse(UserManager.GetUserId(User))" asp-route-postId="@post.Id">
                                                    <div class="post-comment">
                                                        <img src="~/images/@Model.LoggedUserProfilePicture" alt="" class="profile-photo-sm" />
                                                        <input asp-for="NewCommentContent" type="text" class="form-control" placeholder="Post a comment">
                                                        <button class="btn btn-primary pull-right">Post</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }
                        </div>



                        <div class="col-md-2 static">
                            <div id="sticky-sidebar">
                                <h4 class="grey">@Model.FirstName's activity:</h4>
                                @foreach (var item in Model.HistoryLog.OrderByDescending(x => x.Id))
                                {
                                    <div class="feed-item">
                                        <div class="live-activity">
                                            <p><a class="profile-link"></a>@item.Content</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (Model.Friends.Any(x => x.AdresseesUserFriends.Any(x => x.AdresseeId == Model.Id && x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == false && x.IsRemoved == true)))
        {
            <div class="container">
                <!-- Timeline
                     ================================================= -->
                <div class="timeline-cover">
                    <img src="~/images/@Model.CoverPhoto" class="img-responsive timeline-cover" />
                    <!--Timeline Menu for Large Screens-->
                    <div class="timeline-nav-bar hidden-sm hidden-xs">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="profile-info">
                                    <img src="~/images/@Model.ProfilePhoto" alt="" class="img-responsive profile-photo" />
                                    <h3>@Model.FirstName @Model.LastName</h3>
                                    <p class="text-info pull-left">
                                        <div class="line-divider"></div>
                                        @if (Model.JobTitle != null)
                                        {
                                            <div class="row pull-left">
                                                <a>
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-briefcase-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z" />
                                                        <path fill-rule="evenodd" d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5v1.384l-7.614 2.03a1.5 1.5 0 0 1-.772 0L0 5.884V4.5zm5-2A1.5 1.5 0 0 1 6.5 1h3A1.5 1.5 0 0 1 11 2.5V3h-1v-.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V3H5v-.5z" />
                                                    </svg> Works as @Model.JobTitle
                                                </a>
                                                <div class="line-divider"></div>
                                            </div>
                                        }
                                        @if (Model.City != null)
                                        {
                                            <div class="row pull-left">
                                                <a>
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                                    </svg> Lives in @Model.City, @Model.Country.Name
                                                </a>
                                                <div class="line-divider"></div>
                                            </div>
                                        }
                                        @if (Model.Education != null)
                                        {
                                            <div class="row pull-left">
                                                <a>
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z" />
                                                        <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
                                                    </svg> Studied at @Model.Education
                                                </a>
                                                <div class="line-divider"></div>
                                            </div>
                                        }
                                        @if (Model.DateOfBirth != null && Model.MonthOfBirth != null && Model.YearOfBirth != null)
                                        {
                                            <div class="row pull-left">
                                                <a>
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-5.146-5.146a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                                    </svg> Born on @Model.DateOfBirth/@Model.MonthOfBirth/@Model.YearOfBirth
                                                </a>
                                                <div class="line-divider"></div>
                                            </div>
                                        }
                                        @if (Model.Biography != null)
                                        {
                                            <div class="row pull-left">
                                                <a>
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-layers-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4z" />
                                                        <path fill-rule="evenodd" d="M2.125 8.567l-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0l-5.17-2.756z" />
                                                    </svg> Biography: @Model.Biography
                                                </a>
                                                <div class="line-divider"></div>
                                            </div>
                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <ul class="list-inline profile-menu">
                                    <li><a asp-controller="About" asp-action="About" asp-route-id="@Model.Id">About</a></li>
                                    @if (Model.AdresseesUserFriends.Any(x => x.RequesterId == Model.Id && x.AdresseeId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == false && x.IsRemoved == false))
                                    {
                                        var request = Model.AdresseesUserFriends.Where(x => x.RequesterId == Model.Id && x.AdresseeId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == false && x.IsRemoved == false).FirstOrDefault();
                                        <li>
                                            <form asp-controller="UserFriends" asp-action="Accept" asp-route-timelineOfFriendId="@Model.Id" asp-route-toAddId="@request.Id">
                                                <button class="btn btn-success pull-right pull-right">Accept</button>
                                            </form>
                                        </li>
                                    }
                                    else if (Model.RequestersUserFriends.Any(x => x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.AdresseeId == Model.Id && x.IsAccepted == false && x.IsRemoved == false))
                                    {
                                        var request = Model.RequestersUserFriends.Where(x => x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.AdresseeId == Model.Id && x.IsAccepted == false && x.IsRemoved == false).FirstOrDefault();
                                        <li>
                                            <form asp-controller="UserFriends" asp-action="Unfriend" asp-route-timelineOfFriendId="@Model.Id" asp-route-Id="@request.Id">
                                                <button class="btn btn-outline-dark pull-right pull-right">Unsend</button>
                                            </form>
                                        </li>
                                    }
                                    else if (Model.AdresseesUserFriends.Any(x => x.RequesterId == Model.Id && x.AdresseeId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == true && x.IsRemoved == false))
                                    {
                                        var request = Model.AdresseesUserFriends.Where(x => x.RequesterId == Model.Id && x.AdresseeId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == true && x.IsRemoved == false).FirstOrDefault();
                                        <li>
                                            <form asp-controller="UserFriends" asp-action="Unfriend" asp-route-timelineOfFriendId="@Model.Id" asp-route-Id="@request.Id">
                                                <button class="m-custom-r-b-2 btn btn-outline-dark pull-right">Unfriend</button>
                                            </form>
                                        </li>
                                    }
                                    else if (Model.RequestersUserFriends.Any(x => x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.AdresseeId == Model.Id && x.IsAccepted == true && x.IsRemoved == false))
                                    {
                                        var request = Model.RequestersUserFriends.Where(x => x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.AdresseeId == Model.Id && x.IsAccepted == true && x.IsRemoved == false).FirstOrDefault();
                                        <li>
                                            <form asp-controller="UserFriends" asp-action="Unfriend" asp-route-timelineOfFriendId="@Model.Id" asp-route-Id="@request.Id">
                                                <button class="btn btn-outline-dark pull-right">Unfriend</button>
                                            </form>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <form asp-controller="Home" asp-action="SendFriendRequest" asp-route-adresseeId="@Model.Id">
                                                <button class="btn btn-primary pull-right">Send Request</button>
                                            </form>
                                        </li>
                                    }
                                </ul>
                            </div>

                        </div>
                    </div><!--Timeline Menu for Large Screens End-->

                </div>
                <div id="page-contents">
                    <div class="row">
                        <div class="col-md-2 static pull-right">
                            <div id="sticky-sidebar">
                                <h4 class="grey">@Model.FirstName's activity:</h4>
                                @foreach (var item in Model.HistoryLog.OrderByDescending(x => x.Id))
                                {
                                    <div class="feed-item">
                                        <div class="live-activity">
                                            <p><a class="profile-link"></a>@item.Content</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
else
{
    var user = UserManager.GetUserId(User);
    var currentUser = await UserService.GetUserAsync(int.Parse(user));
    <div class="container">
        <div class="timeline-cover">
            <img src="~/images/@Model.CoverPhoto" class="img-responsive timeline-cover" />
            <!--Timeline Menu for Large Screens-->
            <div class="timeline-nav-bar hidden-sm hidden-xs">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile-info">
                            <img src="~/images/@Model.ProfilePhoto" alt="" class="img-responsive profile-photo" />
                            <h3>@Model.FirstName @Model.LastName</h3>
                            <p class="text-info pull-left">
                                <div class="line-divider"></div>
                                @if (Model.JobTitle != null)
                                {
                                    <div class="row pull-left">
                                        <a>
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-briefcase-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z" />
                                                <path fill-rule="evenodd" d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5v1.384l-7.614 2.03a1.5 1.5 0 0 1-.772 0L0 5.884V4.5zm5-2A1.5 1.5 0 0 1 6.5 1h3A1.5 1.5 0 0 1 11 2.5V3h-1v-.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V3H5v-.5z" />
                                            </svg> Works as @Model.JobTitle
                                        </a>
                                        <div class="line-divider"></div>
                                    </div>
                                }
                                @if (Model.City != null)
                                {
                                    <div class="row pull-left">
                                        <a>
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                            </svg> Lives in @Model.City, @Model.Country.Name
                                        </a>
                                        <div class="line-divider"></div>
                                    </div>
                                }
                                @if (Model.Education != null)
                                {
                                    <div class="row pull-left">
                                        <a>
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z" />
                                                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
                                            </svg> Studied at @Model.Education
                                        </a>
                                        <div class="line-divider"></div>
                                    </div>
                                }
                                @if (Model.DateOfBirth != null && Model.MonthOfBirth != null && Model.YearOfBirth != null)
                                {
                                    <div class="row pull-left">
                                        <a>
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-5.146-5.146a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                            </svg> Born on @Model.DateOfBirth/@Model.MonthOfBirth/@Model.YearOfBirth
                                        </a>
                                        <div class="line-divider"></div>
                                    </div>
                                }
                                @if (Model.Biography != null)
                                {
                                    <div class="row pull-left">
                                        <a>
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-layers-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4z" />
                                                <path fill-rule="evenodd" d="M2.125 8.567l-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0l-5.17-2.756z" />
                                            </svg> Biography: @Model.Biography
                                        </a>
                                        <div class="line-divider"></div>
                                    </div>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <ul class="list-inline profile-menu">
                            <li><a asp-controller="Home" asp-action="TimelineOfFriend" asp-route-id="@Model.Id" class="active">Timeline</a></li>
                            <li><a asp-controller="About" asp-action="About" asp-route-id="@Model.Id">About</a></li>
                            <li><a asp-controller="Album" asp-action="Album" asp-route-id="@Model.Id">Album</a></li>
                            <li><a asp-controller="Home" asp-action="Friends" asp-route-id="@Model.Id">Friends</a></li>
                            @if (Model.AdresseesUserFriends.Any(x => x.RequesterId == Model.Id && x.AdresseeId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == false && x.IsRemoved == false))
                            {
                                var request = Model.AdresseesUserFriends.Where(x => x.RequesterId == Model.Id && x.AdresseeId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == false && x.IsRemoved == false).FirstOrDefault();
                                <li>
                                    <form asp-controller="UserFriends" asp-action="Accept" asp-route-timelineOfFriendId="@Model.Id" asp-route-toAddId="@request.Id">
                                        <button class="btn btn-success pull-right pull-right">Accept</button>
                                    </form>
                                </li>
                            }
                            else if (Model.RequestersUserFriends.Any(x => x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.AdresseeId == Model.Id && x.IsAccepted == false && x.IsRemoved == false))
                            {
                                var request = Model.RequestersUserFriends.Where(x => x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.AdresseeId == Model.Id && x.IsAccepted == false && x.IsRemoved == false).FirstOrDefault();
                                <li>
                                    <form asp-controller="UserFriends" asp-action="Unfriend" asp-route-timelineOfFriendId="@Model.Id" asp-route-Id="@request.Id">
                                        <button class="btn btn-outline-dark pull-right pull-right">Unsend</button>
                                    </form>
                                </li>
                            }
                            else if (Model.AdresseesUserFriends.Any(x => x.RequesterId == Model.Id && x.AdresseeId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == true && x.IsRemoved == false))
                            {
                                var request = Model.AdresseesUserFriends.Where(x => x.RequesterId == Model.Id && x.AdresseeId == int.Parse(UserManager.GetUserId(User)) && x.IsAccepted == true && x.IsRemoved == false).FirstOrDefault();
                                <li>
                                    <form asp-controller="UserFriends" asp-action="Unfriend" asp-route-timelineOfFriendId="@Model.Id" asp-route-Id="@request.Id">
                                        <button class="m-custom-r-b-2 btn btn-outline-dark pull-right">Unfriend</button>
                                    </form>
                                </li>
                            }
                            else if (Model.RequestersUserFriends.Any(x => x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.AdresseeId == Model.Id && x.IsAccepted == true && x.IsRemoved == false))
                            {
                                var request = Model.RequestersUserFriends.Where(x => x.RequesterId == int.Parse(UserManager.GetUserId(User)) && x.AdresseeId == Model.Id && x.IsAccepted == true && x.IsRemoved == false).FirstOrDefault();
                                <li>
                                    <form asp-controller="UserFriends" asp-action="Unfriend" asp-route-timelineOfFriendId="@Model.Id" asp-route-Id="@request.Id">
                                        <button class="btn btn-outline-dark pull-right">Unfriend</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <form asp-controller="Home" asp-action="SendFriendRequest" asp-route-adresseeId="@Model.Id">
                                        <button class="btn btn-primary pull-right">Send Request</button>
                                    </form>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div><!--Timeline Menu for Large Screens End-->
            <!--Timeline Menu for Small Screens-->
            <div class="navbar-mobile hidden-lg hidden-md">
                <div class="profile-info">
                    <img src="~/images/@Model.ProfilePhoto" alt="" class="img-responsive profile-photo" />
                    <h4>@Model.FirstName @Model.LastName</h4>
                    <p class="text-muted">@Model.JobTitle</p>
                </div>
                <div class="mobile-menu">
                    <ul class="list-inline">
                        <li><a asp-controller="Home" asp-action="Timeline" class="active">Timeline</a></li>
                        <li><a asp-controller="About" asp-action="About">About</a></li>
                        <li><a asp-controller="Album" asp-action="Album">Album</a></li>
                        <li><a asp-controller="Home" asp-action="Friends">Friends</a></li>
                        <li><a asp-controller="UserFriends" asp-action="FriendRequests">Friend Requests</a></li>
                    </ul>
                    <ul>
                        <li>
                            <form asp-controller="Home" asp-action="SendFriendRequest" asp-route-adresseeId="@Model.Id">
                                <button class="btn btn-primary pull-right">Send Request</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div><!--Timeline Menu for Small Screens End-->

        </div>
        <div id="page-contents">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-7">

                    <!-- Post Create Box
                    ================================================= -->

                    <form asp-controller="Posts" asp-action="CreatePost" asp-route-loggedUser="@currentUser.Id" asp-route-id="@Model.Id">
                        <div class="create-post">
                            <div class="row">
                                <div class="col-md-7 col-sm-7">
                                    <div class="form-group">
                                        <img src="~/images/@currentUser.ProfilePhoto" alt="" class="profile-photo-md" />
                                        <textarea asp-for="NewCommentContent" name="NewCommentContent" id="exampleTextarea" cols="30" rows="1" class="form-control" placeholder="Write what you wish"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="tools">
                                        <button class="btn btn-primary pull-right">Publish</button>
                                        <ul class="publishing-tools list-inline pull-left">
                                            <li><a asp-controller="Home" asp-action="CreatePhotoPost"><i class="ion-images pull-left"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Post Content
                    ================================================= -->
                    @foreach (var post in Model.Posts.OrderByDescending(x => x.CreatedOn))
                    {
                        if (post.LoggedUser == 0)
                        {
                            <div class="post-content">
                                <!--Post Date-->
                                <div class="post-date hidden-xs hidden-sm">
                                </div><!--Post Date End-->
                                <div class="post-container">
                                    <img src="~/images/@post.User.ProfilePhoto" alt="user" class="profile-photo-md pull-left" />
                                    <div class="post-detail">
                                        <div class="user-info">
                                            @if (post.UserId == int.Parse(UserManager.GetUserId(User)))
                                            {
                                                <h5><a asp-controller="Home" asp-action="Timeline" asp-route-id="@Model.Id" class="profile-link">@Model.FirstName @Model.LastName</a> </h5>
                                            }
                                            else
                                            {
                                                <h5><a asp-controller="Home" asp-action="TimelineOfFriend" asp-route-id="@post.UserId" class="profile-link">@post.User.FirstName @post.User.LastName</a> </h5>

                                            }
                                            <p class="text-muted">Published on @post.CreatedOn</p>
                                        </div>
                                        <div class="reaction">
                                            <a asp-controller="Posts" asp-action="LikesUp" asp-route-newsfeedId="2" asp-route-postId="@post.Id" asp-route-userId="@post.UserId" class="btn text-green"><i class="icon ion-thumbsup"></i> @post.Likes</a>
                                            <a asp-controller="Posts" asp-action="FlagsUp" asp-route-newsfeedId="2" asp-route-postId="@post.Id" asp-route-userId="@post.UserId" class="btn text-red"><i class="icon ion-thumbsdown"></i> @post.Flags</a>
                                            @if (post.UserId != int.Parse(UserManager.GetUserId(User)))
                                            {
                                                <a asp-controller="Posts" asp-action="DeletePost" asp-route-newsfeedId="2" asp-route-postId="@post.Id" asp-route-userId="@post.UserId" class="btn text-dark"><i class="icon ion-android-delete"></i></a>
                                            }
                                        </div>
                                        <div class="line-divider"></div>
                                        <div class="post-text">
                                            <p>@post.Content</p>
                                        </div>
                                        @if (@post.PostPhoto != "")
                                        {
                                            <img src="~/images/@post.PostPhoto" alt="post-image" class="img-responsive position-fixed" />
                                        }
                                        <div class="line-divider"></div>
                                        @foreach (var comment in post.Comments)
                                        {
                                            <div class="post-comment">
                                                <img src="~/images/@comment.User.ProfilePhoto" alt="" class="profile-photo-sm" />
                                                <p><a asp-controller="Home" asp-action="TimelineOfFriend" asp-route-id="@comment.UserId" class="profile-link">@comment.User.FirstName @comment.User.LastName</a> @comment.CreatedOn </p>
                                            </div>
                                            <div class="boxed">
                                                <p>@comment.Content</p>
                                            </div>
                                            <div class="position-sticky">
                                                @if (comment.UserId != int.Parse(UserManager.GetUserId(User)))
                                                {
                                                    <a asp-controller="Comments" asp-action="DeleteComment" asp-route-newsfeedId="2" asp-route-commentId="@comment.Id" asp-route-userId="@post.UserId" class="btn text-dark pull-right"><i class="icon ion-android-delete"></i></a>
                                                }
                                                <a asp-controller="Comments" asp-action="FlagsUp" asp-route-newsfeedId="2" asp-route-commentId="@comment.Id" asp-route-userId="@post.UserId" class="btn text-red pull-right"><i class="icon ion-thumbsdown"></i> @comment.Flags</a>
                                                <a asp-controller="Comments" asp-action="LikesUp" asp-route-newsfeedId="2" asp-route-commentId="@comment.Id" asp-route-userId="@post.UserId" class="btn text-green pull-right"><i class="icon ion-thumbsup"></i> @comment.Likes</a>
                                            </div>
                                            <div class="line-divider"></div>
                                        }
                                        <form asp-controller="Home" asp-action="CreateComment" asp-route-timelineId="@Model.Id" asp-route-userId="@int.Parse(UserManager.GetUserId(User))" asp-route-postId="@post.Id">
                                            <div class="post-comment">
                                                <img src="~/images/@Model.LoggedUserProfilePicture" alt="" class="profile-photo-sm" />
                                                <input asp-for="NewCommentContent" type="text" class="form-control" placeholder="Post a comment">
                                                <button class="btn btn-primary pull-right">Post</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            var creatorOfPostIfNotTheOwnerOfTimeline = await UserService.GetUserAsync(post.LoggedUser);

                            <div class="post-content">
                                <!--Post Date-->
                                <div class="post-date hidden-xs hidden-sm">
                                </div><!--Post Date End-->
                                <div class="post-container">
                                    <img src="~/images/@creatorOfPostIfNotTheOwnerOfTimeline.ProfilePhoto" alt="user" class="profile-photo-md pull-left" />
                                    <div class="post-detail">
                                        <div class="user-info">
                                            <h5><a asp-controller="Home" asp-action="Timeline" asp-route-id="@creatorOfPostIfNotTheOwnerOfTimeline.Id" class="profile-link">@creatorOfPostIfNotTheOwnerOfTimeline.FirstName @creatorOfPostIfNotTheOwnerOfTimeline.LastName</a> </h5>
                                            <p class="text-muted">Published on @Model.FirstName's timeline on @post.CreatedOn</p>
                                        </div>
                                        <div class="reaction">
                                            <a asp-controller="Posts" asp-action="LikesUp" asp-route-newsfeedId="2" asp-route-postId="@post.Id" asp-route-userId="@post.UserId" class="btn text-green"><i class="icon ion-thumbsup"></i> @post.Likes</a>
                                            <a asp-controller="Posts" asp-action="FlagsUp" asp-route-newsfeedId="2" asp-route-postId="@post.Id" asp-route-userId="@post.UserId" class="btn text-red"><i class="icon ion-thumbsdown"></i> @post.Flags</a>
                                            @if (post.UserId != int.Parse(UserManager.GetUserId(User)))
                                            {
                                                <a asp-controller="Posts" asp-action="DeletePost" asp-route-newsfeedId="2" asp-route-postId="@post.Id" asp-route-userId="@post.UserId" class="btn text-dark"><i class="icon ion-android-delete"></i></a>
                                            }
                                        </div>
                                        <div class="line-divider"></div>
                                        <div class="post-text">
                                            <p>@post.Content</p>
                                        </div>
                                        @if (@post.PostPhoto != "")
                                        {
                                            <img src="~/images/@post.PostPhoto" alt="post-image" class="img-responsive position-fixed" />
                                        }
                                        <div class="line-divider"></div>
                                        @foreach (var comment in post.Comments)
                                        {
                                            <div class="post-comment">
                                                <img src="~/images/@comment.User.ProfilePhoto" alt="" class="profile-photo-sm" />
                                                <p><a asp-controller="Home" asp-action="TimelineOfFriend" asp-route-id="@comment.UserId" class="profile-link">@comment.User.FirstName @comment.User.LastName</a> @comment.CreatedOn </p>
                                            </div>
                                            <div class="boxed">
                                                <p>@comment.Content</p>
                                            </div>
                                            <div class="position-sticky">
                                                @if (comment.UserId != int.Parse(UserManager.GetUserId(User)))
                                                {
                                                    <a asp-controller="Comments" asp-action="DeleteComment" asp-route-newsfeedId="2" asp-route-commentId="@comment.Id" asp-route-userId="@post.UserId" class="btn text-dark pull-right"><i class="icon ion-android-delete"></i></a>
                                                }
                                                <a asp-controller="Comments" asp-action="FlagsUp" asp-route-newsfeedId="2" asp-route-commentId="@comment.Id" asp-route-userId="@post.UserId" class="btn text-red pull-right"><i class="icon ion-thumbsdown"></i> @comment.Flags</a>
                                                <a asp-controller="Comments" asp-action="LikesUp" asp-route-newsfeedId="2" asp-route-commentId="@comment.Id" asp-route-userId="@post.UserId" class="btn text-green pull-right"><i class="icon ion-thumbsup"></i> @comment.Likes</a>
                                            </div>
                                            <div class="line-divider"></div>
                                        }
                                        <form asp-controller="Home" asp-action="CreateComment" asp-route-timelineId="@Model.Id" asp-route-userId="@int.Parse(UserManager.GetUserId(User))" asp-route-postId="@post.Id">
                                            <div class="post-comment">
                                                <img src="~/images/@Model.LoggedUserProfilePicture" alt="" class="profile-photo-sm" />
                                                <input asp-for="NewCommentContent" type="text" class="form-control" placeholder="Post a comment">
                                                <button class="btn btn-primary pull-right">Post</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                </div>

                <div class="col-md-2 static">
                    <div id="sticky-sidebar">
                        <h4 class="grey">@Model.FirstName's activity:</h4>
                        @foreach (var item in Model.HistoryLog.OrderByDescending(x => x.Id))
                        {
                            <div class="feed-item">
                                <div class="live-activity">
                                    <p><a class="profile-link"></a>@item.Content</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}