﻿@model SocialNetwork.Services.DTOs.UserDTO

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="container">
    <div id="page-contents">
        <div class="row">
            <div class="col-md-3">

                <!--Edit Profile Menu-->
                <ul class="edit-menu">
                    <li class="active"><i class="icon ion-ios-information-outline"></i><a asp-controller="About" asp-action="About" asp-route-id="@Model.Id">About me</a></li>
                    @if (Model.Id == int.Parse(UserManager.GetUserId(User)))
                    {
                        <li>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                            </svg><a asp-controller="UpdateUserInformation" asp-action="UpdateExistingUserInformation">Edit Details/Delete Account</a>
                        </li>
                        <li><i class="icon ion-ios-locked-outline"></i><a href="~/Identity/Account/Manage/ChangePassword">Change Password</a></li>
                    }
                </ul>
            </div>
            <div class="col-md-7">

                <!-- Basic Information
                ================================================= -->
                <div class="edit-profile-container">
                    <div class="block-title">
                        <h4 class="grey"><i class="icon ion-android-checkmark-circle"></i>About me</h4>
                    </div>
                    <div class="line"></div>
                    <p>
                        Hello, my name is @Model.FirstName @Model.LastName. <br />
                        I am born on @Model.DateOfBirth/@Model.MonthOfBirth/@Model.YearOfBirth. <br />
                        Currently I am living in @Model.City and I am working as @Model.JobTitle. <br />
                        You can see more about me in my biography:<br />
                        @Model.Biography. <br />
                        If you are interested in my profile you can contact me at @Model.Email or just text me here!
                    </p>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
</div>