﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div id="lp-register">
    <div class="container wrapper">
        <div class="row">
            <div class="col-sm-5">
                <div class="intro-texts">
                    <h1 class="text-white">Make Cool Friends !!!</h1>
                    <p>Friend Finder is a social network whose main purpose is to connect the coolest people from all over the world. <br /> <br />What you are waiting for? Join us NOW!</p>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <div class="reg-form-container">
                    <div class="reg-options">
                        <ul class="nav nav-tabs">
                            <li><a href="Register">Register</a></li>
                            <li class="active"><a href="Login">Login</a></li>
                        </ul><!--Tabs End-->
                    </div>
                    <!--Login-->
                    <div class="tab-pane" id="login">
                        <h3>Login</h3>
                        <p class="text-muted">Log into your account</p>

                        <!--Login Form-->
                        <form id="account" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label asp-for="Input.Email" class="sr-only">Email</label>
                                    <input asp-for="Input.Email" class="form-control input-group-lg" type="text" name="Input.Email" title="Enter Email" placeholder="Your Email" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label asp-for="Input.Password" class="sr-only">Password</label>
                                    <input asp-for="Input.Password" class="form-control input-group-lg" type="password" name="Input.Password" title="Enter password" placeholder="Password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <p><a asp-controller="Home" asp-action="Index">Register Now</a></p>
                            <button class="btn btn-primary">Login Now</button>
                        </form><!--Login Form Ends-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts
    ================================================= -->
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
