﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<div id="lp-register">
    <div class="container wrapper">
        <div class="row">
            <div class="col-sm-5">
                <div class="intro-texts">
                    <h1 class="text-white">Make Cool Friends !!!</h1>
                    <p>Friend Finder is a social network whose main purpose is to connect the coolest people from all over the world. <br /> <br />What you are waiting for? Join us NOW!</p>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <div class="reg-form-container">
                    <form asp-controller="Home" asp-action="Index">
                        <div class="reg-options">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="Register">Register</a></li>
                                <li><a href="Login">Login</a></li>
                            </ul><!--Tabs End-->
                        </div>
                    </form>
                    <!--Registration Form Contents-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="register">
                            <h3>Register Now</h3>
                            <p class="text-muted">Be cool and join today. Meet millions</p>

                            <!--Register Form-->
                            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="row">
                                    <div class="form-group col-xs-6">
                                        <label asp-for="Input.FirstName">First Name</label>
                                        <input asp-for="Input.FirstName" class="form-control" placeholder="First name" />
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <label asp-for="Input.LastName">Last Name</label>
                                        <input asp-for="Input.LastName" class="form-control" placeholder="First name" />
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label asp-for="Input.Email"></label>
                                        <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label asp-for="Input.Password"></label>
                                        <input asp-for="Input.Password" class="form-control input-group-lg" type="password" name="Input.Password" placeholder="Password" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="birth"><strong>Date of Birth</strong></p>
                                    <div class="form-group col-sm-3 col-xs-6">
                                        <label asp-for="Input.DateOfBirth" class="sr-only"></label>
                                        <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                                        <select asp-for="Input.DateOfBirth" class="form-control" id="day">
                                            <option value="Day" disabled selected>Day</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                            <option>13</option>
                                            <option>14</option>
                                            <option>15</option>
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>21</option>
                                            <option>22</option>
                                            <option>23</option>
                                            <option>24</option>
                                            <option>25</option>
                                            <option>26</option>
                                            <option>27</option>
                                            <option>28</option>
                                            <option>29</option>
                                            <option>30</option>
                                            <option>31</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-3 col-xs-6">
                                        <label asp-for="Input.MonthOfBirth" class="sr-only"></label>
                                        <span asp-validation-for="Input.MonthOfBirth" class="text-danger"></span>
                                        <select asp-for="Input.MonthOfBirth" class="form-control" id="month">
                                            <option value="month" disabled selected>Month</option>
                                            <option>Jan</option>
                                            <option>Feb</option>
                                            <option>Mar</option>
                                            <option>Apr</option>
                                            <option>May</option>
                                            <option>Jun</option>
                                            <option>Jul</option>
                                            <option>Aug</option>
                                            <option>Sep</option>
                                            <option>Oct</option>
                                            <option>Nov</option>
                                            <option>Dec</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-6 col-xs-12">
                                        <label asp-for="Input.YearOfBirth" class="sr-only"></label>
                                        <span asp-validation-for="Input.YearOfBirth" class="text-danger"></span>
                                        <select asp-for="Input.YearOfBirth" class="form-control" id="year">
                                            <option value="year" disabled selected>Year</option>
                                            <option>1950</option>
                                            <option>1951</option>
                                            <option>1952</option>
                                            <option>1953</option>
                                            <option>1954</option>
                                            <option>1955</option>
                                            <option>1956</option>
                                            <option>1957</option>
                                            <option>1958</option>
                                            <option>1959</option>
                                            <option>1960</option>
                                            <option>1961</option>
                                            <option>1962</option>
                                            <option>1963</option>
                                            <option>1964</option>
                                            <option>1965</option>
                                            <option>1966</option>
                                            <option>1967</option>
                                            <option>1968</option>
                                            <option>1969</option>
                                            <option>1970</option>
                                            <option>1971</option>
                                            <option>1972</option>
                                            <option>1973</option>
                                            <option>1974</option>
                                            <option>1975</option>
                                            <option>1976</option>
                                            <option>1977</option>
                                            <option>1978</option>
                                            <option>1979</option>
                                            <option>1980</option>
                                            <option>1981</option>
                                            <option>1982</option>
                                            <option>1983</option>
                                            <option>1984</option>
                                            <option>1985</option>
                                            <option>1986</option>
                                            <option>1987</option>
                                            <option>1988</option>
                                            <option>1989</option>
                                            <option>1990</option>
                                            <option>1991</option>
                                            <option>1992</option>
                                            <option>1993</option>
                                            <option>1994</option>
                                            <option>1995</option>
                                            <option>1996</option>
                                            <option>1997</option>
                                            <option>1998</option>
                                            <option>1999</option>
                                            <option>2000</option>
                                            <option>2001</option>
                                            <option>2002</option>
                                            <option>2004</option>
                                            <option>2005</option>
                                            <option>2006</option>
                                            <option>2007</option>
                                            <option>2008</option>
                                            <option>2009</option>
                                            <option>2010</option>
                                            <option>2011</option>
                                            <option>2012</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group gender">
                                    <label asp-for="Input.Gender" class="radio-inline">
                                        <input asp-for="Input.Gender" type="radio" name="Input.Gender" value="Male" checked>Male
                                        <span asp-validation-for="Input.Gender" class="text-danger"></span>
                                    </label>
                                    <label asp-for="Input.Gender" class="radio-inline">
                                        <input asp-for="Input.Gender" type="radio" name="Input.Gender" value="Female">Female
                                        <span asp-validation-for="Input.Gender" class="text-danger"></span>
                                    </label>
                                </div>
                                <p><a asp-controller="Home" asp-action="Login">Already have an account?</a></p>
                                <div class="form-group">
                                    <input type="submit" value="Register" class="btn btn-primary" />
                                </div>
                            </form><!--Register Now Form Ends-->
                        </div><!--Registration Form Contents Ends-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
